// =============================================================================
// descriptive colors
//==============================================================================

$color-black: #000;
$color-white: #fff;
$color-silver: #8CA5BA;
$color-pewter: #5E778C;
$color-charcoal: #1A2833;
$color-apple: #BF3030;
$color-ocean: #1F8199;
