// =============================================================================
// descriptive colors
//==============================================================================

$color-white: #fff;
$color-charcoal: #1A2833;
$color-silver: #8CA5BA;
$color-pewter: #5E778C;
$color-pomegranate: #802B2B;
$color-sakura: #F5E0E0;
$color-moss: #477339;
$color-snowpea: #E4EED0;
$color-lily: #F2F6FA;